---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arma Gym">
  <main>
    <Hero
      callToAction="Build your dream"
      buttonText="Start journey"
      companyName="Arma Gym"
    />
    <section class="py-12">
      <div class="flex flex-col justify-center gap-16 max-w-6xl px-5 mx-auto">
        <div>
          <h1 class="text-white text-5xl italic yellowText pb-8">
            What is Bodybuilding?
          </h1>
          <p class="text-white">
            According to the book "The New Encyclopedia of Modern Bodybuilding" by Arnold Schwarzenegger, bodybuilding is the disciplined practice of developing and sculpting the "Greek-God" physique through progressive overloading, proper nutrition, and rest. The primary focus of bodybuilding is not only to build muscle size and achieve an aesthetic physique but also to improve health and lifestyle.
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Why Exactly Bodybuilding?
          </h1>
          <p class="text-white">
            Bodybuilding is a powerful way to improve health, physical and mental strength, and boost confidence. According to Arnold Schwarzenegger's book, bodybuilding mainly focuses on building muscle while reducing fat and achieving the "Greek-God physique" through weight training, proper nutrition, and sufficient rest. It not only helps build muscle but also strengthens bones, improves heart health, and increases energy levels. Bodybuilding also teaches discipline and patience, making it both a physical and mental challenge. This combination of physical and mental growth is highly effective, especially at the beginning of one's fitness journey.
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Today's Bodybuilding vs Old Bodybuilding
          </h1>
          <p class="text-white">
            Old-school bodybuilding focused more on aesthetics rather than just muscle size. Legends like Arnold Schwarzenegger, Frank Zane, and Serge Nubret trained to create muscular and well-proportioned physiques. Their workouts emphasized basic equipment like barbells and dumbbells, using fundamental compound movements such as squats, bench presses, and deadlifts. Nutrition was simpler, relying on whole foods like eggs, meat, and milk, which were often more organic than today's options. At that time, supplements were not very popular.
          </p>
          <p class="text-white">
            Modern bodybuilding, in contrast, focuses on extreme muscle mass. Athletes like Phil Heath and Big Ramy have become significantly larger due to science-based training programs, meticulously researched diets, and the use of numerous supplements and performance-enhancing drugs. Today’s gyms feature advanced machines for muscle isolation, and training is far more scientific, with an emphasis on recovery and precision nutrition. Supplements such as protein powders, creatine, and pre-workouts are now common.
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Creating an Effective Workout Routine
          </h1>
          <p class="text-white">
            Designing an effective workout routine contributes about 30% to your success. However, not having a structured plan can slow down progress. If your goal is general fitness, aim for 18-20 sets per muscle group weekly. For serious bodybuilding, consider the following training splits:
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Bro Split (6 Days a Week)
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white"><p>Day 1: Chest – Bench Press, Incline Bench Press, Dips</p></li>
            <li class="text-white"><p>Day 2: Back – Deadlifts, Rows, Pull-ups</p></li>
            <li class="text-white"><p>Day 3: Shoulders – Arnold Press, Lateral Raises</p></li>
            <li class="text-white"><p>Day 4: Legs – Squats, Leg Press, Bulgarian Split Squats</p></li>
            <li class="text-white"><p>Day 5: Arms – Bicep Curls, Tricep Extensions, Reverse Bicep Curls</p></li>
            <li class="text-white"><p>Day 6-7: Active Rest (Jogging, Swimming, Yoga, Stretching, Casual Walk)</p></li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Upper/Lower Split (4 Days a Week)
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white"><p>Day 1: Upper Body – Bench Press, Pull-ups, Shoulder Press, Bicep Curls</p></li>
            <li class="text-white"><p>Day 2: Lower Body – Squats, Lunges, Leg Curls, Calf Raises</p></li>
            <li class="text-white"><p>Day 3: Rest</p></li>
            <li class="text-white"><p>Day 4: Upper Body – Incline Press, Rows, Lateral Raises, Tricep Extensions</p></li>
            <li class="text-white"><p>Day 5: Lower Body – Deadlifts, Leg Press, Bulgarian Split Squats</p></li>
            <li class="text-white"><p>Day 6-7: Active Rest</p></li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Push/Pull/Legs Split (3–6 Days a Week)
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white"><p>Day 1: Push (Chest, Shoulders, Triceps) – Bench Press, Shoulder Press, Tricep Dips</p></li>
            <li class="text-white"><p>Day 2: Pull (Back, Biceps) – Deadlifts, Pull-ups, Barbell Rows, Bicep Curls</p></li>
            <li class="text-white"><p>Day 3: Legs (Quads, Hamstrings, Calves) – Squats, Leg Press, Lunges</p></li>
            <li class="text-white"><p>Day 4: Rest or Repeat Cycle</p></li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>
