---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arma Gym">
  <main>
    <Hero
      callToAction="Build your dream"
      buttonText="Start journey"
      companyName="Arma Gym"
    />
    <section class="py-12">
      <div class="flex flex-col justify-center gap-16 max-w-6xl px-5 mx-auto">
        <div class="flex flex-col gap-8">
          <h1 class="text-white text-5xl italic yellowText pb-8">
            Transformation begins
          </h1>
          <p class="text-white">
            Bodybuilding is more than just lifting weights—it’s about building
            the strongest, healthiest, and most confident version of yourself.
            Every rep, every set, and every drop of sweat is an investment in
            your body and mind.
          </p>
          <p class="text-white">At Arma Gym, we believe that anyone can
            transform their physique with the right mindset and dedication. This
            journey isn’t just about muscle. It’s about discipline, resilience,
            and pushing past limits you once thought were impossible. It’s about
            waking up stronger, feeling more energized, and carrying yourself
            with confidence in every part of life.</p>
            <p class="text-white">
              Imagine looking in the mirror
              and seeing the results of your hard work—defined muscles, improved
              strength, and a body that reflects your determination. But it’s not
              just about how you look.
            </p>
            <p class="text-white"> It’s about how you feel. Bodybuilding
              improves your mental focus, boosts your energy, and strengthens your
              heart and mind as much as your muscles. </p>
            <p class="text-white">
              At Arma Gym, we’re here to
              guide you every step of the way. With the right training, nutrition,
              and support, your dream body isn’t just a possibility—it’s a
              promise. Start today. Build strength. Build confidence. Build your
              dream.
            </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
