---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arma Gym">
  <main>
    <Hero
      callToAction="Build your dream"
      buttonText="Start journey"
      companyName="Arma Gym"
    />
    <section class="py-12">
      <div class="flex flex-col justify-center gap-16 max-w-6xl px-5 mx-auto">
        <div>
          <h1 class="text-white text-5xl italic yellowText pb-8">
            What is Bodybuilding?
          </h1>
          <p class="text-white" class="text-white">
            According to the book "The New Encyclopedia of Modern Bodybuilding" by Arnold Schwarzenegger: Bodybuilding is the disciplined practice of developing and sculpting the “Greek-God” physique through  progressive overloading, proper nutrition and rest. The primary focus of bodybuilding is not only to build muscle size and having aesthetic physique but also to improve health and lifestyle.
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Why Exactly Bodybuilding?
          </h1>
          <p class="text-white" class="text-white">
            Bodybuilding is a powerful way to improve your health,physical and mental strength,and boost your confidence.According toArnold Schwarzenegger's book (The New Encyclopedia of Modern Bodybuilding) bodybuilding mainly focuses on building muscle while reducing fat and getting “Greek God physique ”thought weight training,proper nutrition and having enough rest time.It doesn't help you only building muscle but will improve your health like sicker and well-developed bones ,strengthening the heart and boosting your energy level which is also crucial more muscle growth.Bodybuilding also teaches discipline and patience making it not only a physical  challenge but also a mental challenge.This combination of physical and mental growth will be very effective way to gain muscle in the beginning of your journey.
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Today's Bodybuilding vs Old Bodybuilding?
          </h1>
          <p class="text-white" class="text-white">
            Old school bodybuilding was more focused on building aesthetics physics rather than just muscle size.. Bodybuilders like Arnold Schwarzenegger, Frank Zane  and Serge Nubret trained to create a physique that was muscular and aesthetic body  . Their workouts focused a lot on basic gears like barbells and dumbbells using basic compound movements such as squats, bench presses and deadlifts. Nutrition was simpler with natural foods like eggs, meat, and milk which at that time I believe were more organic than today.At their time supplements were not very popular.
          </p>
          <p class="text-white" class="text-white">
            Today's bodybuilding is more focused on size and extreme muscle mass. Modern bodybuilders like Phil Heath and Big Ramy are much bigger due to science based programs, special well-researched diets and the use of a bunch of known supplements and performance-enhancing drugs. Gyms now have more aesthetic machines and technology to isolate muscles  and training is more scientific with focus on recovery , and precise nutrition. Supplements like protein powders, creatine, and pre-workouts are very common.
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Creating an Effective Workout Routine
          </h1>
          <p class="text-white" class="text-white">
            Now creating an effective workout routine is only 30% of your success,but not having it will slow down your progress and make it harder to reach your goals. But if you don't want to do bodybuilding but just to get in good shape then you have to train that way so that you will reach 18- 20 sets per muscle every week. But if you want to take it more seriously then follow this plans: 
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Bro Split (6 Days a Week)
          </h1>
          <p class="text-white">For this split you have to go to the gym every day like 5-6 times per week.This split is more focused on training one muscle per day.It most common split that bodybuilders use they love to hit one muscle and make completely sore for next day which if very effective in term of  muscle growth but not effective for people who would like to spend less time.</p>
          <ul class="list-disc pl-10">
            <li class="text-white"><p class="text-white">Day 1: Chest – Bench Press, Incline Bench Press, Dips</p></li>
            <li class="text-white"><p class="text-white">Day 2: Back – Deadlifts, Rows, Pull-ups</p></li>
            <li class="text-white"><p class="text-white">Day 3: Shoulders – Arnold Press, Lateral Raises</p></li>
            <li class="text-white"><p class="text-white">Day 4: Legs – Squats, Leg Press, Bulgarian Split Squats</p></li>
            <li class="text-white"><p class="text-white">Day 5: Arms – Bicep Curls, Tricep Extensions, Reverse Bicep Curls</p></li>
            <li class="text-white"><p class="text-white">Day 6-7: Active Rest (Jogging, Swimming, Yoga, Stretching, Casual Walk)</p></li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Upper/Lower Split (4 Days a Week)
          </h1>
          <p class="text-white">This split focuses on training the upper and lower body on alternating days, and giving enough time to recovery.Very suitable for person who doesn't want to spend too much time
          </p>
          <ul class="list-disc pl-10">
            <li class="text-white"><p class="text-white">Day 1: Upper Body – Bench Press, Pull-ups, Shoulder Press, Bicep Curls</p></li>
            <li class="text-white"><p class="text-white">Day 2: Lower Body – Squats, Lunges, Leg Curls, Calf Raises</p></li>
            <li class="text-white"><p class="text-white">Day 3: Rest</p></li>
            <li class="text-white"><p class="text-white">Day 4: Upper Body – Incline Press, Rows, Lateral Raises, Tricep Extensions</p></li>
            <li class="text-white"><p class="text-white">Day 5: Lower Body – Deadlifts, Leg Press, Bulgarian Split Squats</p></li>
            <li class="text-white"><p class="text-white">Day 6-7: Active Rest</p></li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Push/Pull/Legs Split (3–6 Days a Week)
          </h1>
          <p class="text-white">This split is most common split that every person uses at the gym it is very simple split where each day you train different movement patter like pushing,pulling and leg </p>
          <ul class="list-disc pl-10">
            <li class="text-white"><p class="text-white">Day 1: Push (Chest, Shoulders, Triceps) – Bench Press, Shoulder Press, Tricep Dips</p></li>
            <li class="text-white"><p class="text-white">Day 2: Pull (Back, Biceps) – Deadlifts, Pull-ups, Barbell Rows, Bicep Curls</p></li>
            <li class="text-white"><p class="text-white">Day 3: Legs (Quads, Hamstrings, Calves) – Squats, Leg Press, Lunges</p></li>
            <li class="text-white"><p class="text-white">Day 4: Rest or Repeat Cycle</p></li>
          </ul>
        </div>
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Arnold Split (Double Split – 6 Days a Week)
          </h1>
          <p class="text-white">Arnold often used a double split, training twice a day  targeting different muscle groups to maximize growth. This method is for advanced bodybuilders.</p>
          <ul class="list-disc pl-10">
            <li class="text-white"><p class="text-white">Morning: Chest and Back – Bench Press, Pull-ups, Rows</p></li>
            <li class="text-white"><p class="text-white">Evening: Legs – Squats, Leg Press, Lunges</p></li>
            <li class="text-white"><p class="text-white">Next Day: Shoulders and Arms – Overhead Press, Curls, Tricep Extensions</p></li>
            <li class="text-white"><p class="text-white">Evening: Abs and Calves – Crunches, Calf Raises</p></li>
            <li class="text-white"><p class="text-white">Day 6: Full body focus or weaker areas</p></li>
            <li class="text-white"><p class="text-white">Day 7: Rest </p></li>
          </ul>
        </div>
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Full Body Split (3 Days a Week)
          </h1>
          <p class="text-white">In this plan, you train your whole body in each workout. This is good for beginners or people who don’t have much time to train.</p>
          <ul class="list-disc pl-10">
            <li class="text-white"><p class="text-white">Day 1: Squats, Bench Press, Deadlifts, Pull-ups, Shoulder Press</p></li>
            <li class="text-white"><p class="text-white">Day 2: Rest or active recovery (like stretching or light cardio)</p></li>
            <li class="text-white"><p class="text-white">Day 3: Squats, Overhead Press, Bent-over Rows, Lunges, Bicep Curls</p></li>
            <li class="text-white"><p class="text-white">Day 4: Rest</p></li>
            <li class="text-white"><p class="text-white">Day 5: Deadlifts, Push-ups, Pull-ups, Lunges, Triceps Dips</p></li>
          </ul>
          <p class="text-white">This routine works all muscle groups three times a week, helping with overall muscle growth and recovery.</p>
        </div>
      </div>
    </section>
  </main>
</Layout>
