---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arma Gym">
  <main>
    <Hero
      callToAction="Bulk & Cut"
      buttonText="Start journey"
      companyName="Arma Gym"
    />
    <section class="py-12">
      <div class="flex flex-col justify-center gap-16 max-w-6xl px-5 mx-auto">
        <div class="flex flex-col gap-8">
          <h1 class="text-white text-5xl italic yellowText pb-8">
            Fuel Your Transformation
          </h1>
          <p class="text-white">
            Building your dream physique is a journey of balance—knowing when to
            push for size and when to carve out definition. That’s where Bulking
            & Cutting come in. At Arma Gym, we guide you through both phases,
            helping you gain lean muscle and shed fat with precision.
          </p>
          <p class="text-white">
            Bulking is about fueling your body to grow. It’s eating with
            purpose, training with intensity, and pushing your limits to pack on
            muscle mass. But smart bulking isn’t about overeating—it’s about
            providing your body with the right nutrients to grow stronger
            without unnecessary fat.
          </p>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>
                Fuel Your Growth: High-protein, nutrient-dense meals designed
                for clean gains.
              </p>
            </li>
            <li class="text-white">
              <p>
                Lift Heavy, Lift Smart: Progressive overload and compound lifts
                to maximize muscle growth.
              </p>
            </li>
            <li class="text-white">
              <p>
                Recover Like a Pro: Rest and recovery are just as important as
                training—this is when real growth happens.
              </p>
            </li>
          </ul>
          <p class="text-white">
            Cutting is where the grind pays off. It’s about revealing the muscle
            you’ve built by burning fat and dialing in your nutrition. This
            phase demands discipline, but the reward is seeing a leaner, sharper
            version of yourself emerge.
          </p>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>
                Precision Nutrition: Calorie control and clean eating to shed
                fat while preserving muscle..
              </p>
            </li>
            <li class="text-white">
              <p>
                High-Intensity Workouts: Cardio and conditioning to torch
                calories and boost endurance.
              </p>
            </li>
            <li class="text-white">
              <p>
                Mind Over Matter: Mental toughness is key—every choice brings
                you closer to your goals.
              </p>
            </li>
          </ul>
          <p class="text-white">
            Bulking and cutting are two sides of the same coin. One builds the
            foundation, the other reveals the masterpiece. Mastering both phases
            isn’t just about physical change—it’s about developing the patience,
            focus, and resilience needed to stay committed to the process.
          </p>
          <p class="text-white">
            At
            Arma Gym, we’re here to guide you through every stage. From
            customized meal plans to tailored workout programs, we make sure
            every step you take moves you closer to your ultimate physique. Fuel
            up. Trim down. Transform your body and mind. Start your journey
            today.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
