---
import { Image } from "astro:assets";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arma Gym">
  <main>
    <Hero
      callToAction="Bulk & Cut"
      buttonText="Start journey"
      companyName="Arma Gym"
    />
    <section class="py-12">
      <div class="flex flex-col justify-center gap-16 max-w-6xl px-5 mx-auto">
        <div class="flex gap-8">
          <div>
            <h1 class="text-white text-5xl italic yellowText pb-8">
              Bulking and Cutting
            </h1>
            <p class="text-white">
              What is Bulking and Cutting? There is no specific definition for it but bulking involves eating more calories than you need, in order to put on weight, then building muscle with resistance training. Cutting involves eating fewer calories than you burn. For example, if you eat 2500 calories per day to cut, you need to burn approximately 200+- calories on top of how many calories you consumed. The theory is that you put on extra muscle and fat, but then lose the fat to look lean and shredded.
            </p>
            <p class="text-white">
              So the next question you might ask is: So for bulking, can I just eat whatever and how much I want? Sadly, the answer is NO. Or you might think that muscles are made of protein, which means you can just eat extra protein to grow muscles, but this is also quite wrong.
            </p>
            <p class="text-white">
              From Arnold Schwarzenegger's The New Encyclopedia of Modern Bodybuilding, he tells that you should focus on quality calories—which means not to eat junk food but to eat dense foods to fuel muscle development.
            </p>
          </div>
          <div class="flex w-full">
            <Image
              src={"/images/bulk-cut.webp"}
              alt="bulk"
              width={600}
              height={400}
              class="rounded-xl"
            />
          </div>
        </div>

        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Bulking Phase
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p><strong>Set Your Goal:</strong>
                • Aim to eat 250-500 calories above your maintenance level
                • To easily track your calories, you can download an app to track your calories, a good example is an app called MacroFactor by Jeff Nipard
                • Gradually increase calories to ensure that you are gaining muscle, not fat
              </p>
            </li>
            <li class="text-white">
              <p><strong>Track Your Protein Intake:</strong>
                • Consume around 1.8-2.2 grams of protein per kg of body weight (If you are 75kg, then your intake should be about 150 grams)
                • Include lean protein sources like chicken, beef, fish, eggs, cottage cheese, and plant-based proteins.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Increase Carbs:</strong> Carbs provide energy. Include sources like sweet potatoes, rice, pasta, and oats. Eat more carbs pre-workout for better performance.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Include Healthy Fats:</strong> Don't think that you can't eat fat. You should eat healthy fats such as olive oil, avocado, nuts, and fatty fish.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Training:</strong>
                • Progressive overload - gradually increase weights, sets, or reps over time
                • Aim to have at least 4-6 training sessions per week. You can peek at the split in another article.
                • Don't forget about recovery. If you feel soreness in your muscles, it’s better to have a recovery day.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Track Your Progress:</strong>
                • Regularly track your weight, body measurements, and try to hit more PR (personal records)
                • Check your body percentage, usually available in the gym.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Stay Consistent:</strong>
                • Stick to your meal and workout plans consistently to see results.
              </p>
            </li>
          </ul>
        </div>

        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Cutting Phase
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p><strong>Set Your Goal:</strong>
                • Aim to eat 250-500 calories below your maintenance level
                • To easily track your calories, you can download an app to track your calories, a good example is an app called MacroFactor by Jeff Nipard
                • Gradually decrease calories to ensure that you are losing weight, not muscles
              </p>
            </li>
            <li class="text-white">
              <p><strong>Track Your Protein Intake:</strong>
                • Consume around 1.8-2.2 grams of protein per kg of body weight (If you are 75kg, then your intake should be about 150 grams)
                • Include lean protein sources like chicken, beef, fish, eggs, cottage cheese, and plant-based proteins.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Cut Carbs:</strong>
                • This doesn’t mean that you should not eat carbs at all, but you should focus on more complex carbs like vegetables or whole grains.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Include Healthy Fats:</strong> Don't think that you can't eat fat, you should eat healthy fats such as olive oil, avocado, nuts, and fatty fish.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Training & Cardio:</strong>
                • After your workouts, include 20-30 min of cardio, and usually, there are phases of your heartbeat. You should have phase 2 while running or jogging.
                • If you don’t have access to the gym, you can just simply walk, and I recommend walking instead of running because running might lead to knee injury.
                • Also, you might consider a HIIT program, you can see more details on YouTube. (What is HIIT? 7 Proven HIIT Benefits and How to Do It Properly | The Health Nerd)
                • Stay hydrated
              </p>
            </li>
            <li class="text-white">
              <p><strong>Stay Hydrated:</strong>
                • Drinking enough water will help you with fat loss and prevent dehydration, especially during workouts.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Track Your Progress:</strong>
                • Regularly track your weight and body measurements
                • Check your body percentage, usually available in the gym.
              </p>
            </li>
            <li class="text-white">
              <p><strong>Stay Consistent:</strong>
                • Just like bulking, stay consistent with tracking your calories and training plans to see results.
              </p>
            </li>
          </ul>
        </div>

        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Influencers for Healthy Meals
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white"><p>Joseph Abell</p></li>
            <li class="text-white"><p>Noel Deyzel</p></li>
            <li class="text-white"><p>Ethan Chlebowski</p></li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</Layout>
