---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arma Gym">
  <main>
    <Hero
      callToAction="Be a Beast"
      buttonText="Start journey"
      companyName="Arma Gym"
    />
    <section class="py-12">
      <div class="flex flex-col justify-center gap-16 max-w-6xl px-5 mx-auto">
        <div>
          <h1 class="text-white text-5xl italic yellowText pb-8">
            Basic Gym Rules
          </h1>
          <p class="text-white">
            To ensure a clean, safe, and respectful gym environment, please follow these basic rules:
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Bring a Towel
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>Always carry a clean towel to place on benches or machines during use.</p>
            </li>
            <li class="text-white">
              <p>After exercising wipe down the equipment to remove sweat. Usually you can find a disinfection tool somewhere nearby, but if your gym doesn't have that then it's absolutely fine.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Re-Rack Weights and Return Equipment
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>After using dumbbells, plates or other equipment, return them to their designated places or put them where it safe(people won’t step on it.) </p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Share Equipment and Allow Others to "Work In"
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>During peak hours make sure that you are not sitting on your phone scrolling TikTok.</p>
            </li>
            <li class="text-white">
              <p>If you're taking long breaks between sets offer to let others work in with you.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Limit Phone Use
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>Avoid using equipment while texting or browsing. Focus on your workout to ensure efficiency and respect for other people waiting.</p>
            </li>
            <li class="text-white">
              <p>But it is totally fine to use your phone to track your exercises.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Use Headphones for Personal Music
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>If you prefer your own music use headphones to avoid disturbing others. </p>
            </li>
            <li class="text-white">
              <p>Keep the volume at a level where you can still be aware of your surroundings and you should do this not only at the gym but also while walking outside. </p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Maintain Personal Hygiene
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>Wear clean workout clothes  and use deodorant to ensure not smelly environment for everyone.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Be Mindful of Space
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>Don’t take up too much space; for example, avoid jumping rope in the free weight area.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Follow Gym-Specific Rules
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>Each gym may have its own set of guidelines.Make sure that u know them.</p>
            </li>
            <li class="text-white">
              <p>For example some of the gyms kindly ask not to use chalk in their gym.</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
  </main>
</Layout>