---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';


---
<Layout title="Arma Gym">
	<main>
		<Hero callToAction='Be a Beast' buttonText='Start journey' companyName='Arma Gym'/>
        <section class="py-12">
            <div class="flex flex-col justify-center gap-16 max-w-6xl px-5 mx-auto">
              <div>
                <h1 class="text-white text-5xl italic yellowText pb-8">Basic Rules at the Gym</h1>
                <p class="text-white ">
                    Welcome to Arma Gym—where gains are made and legends are built! To keep our space safe, motivating, and respectful for everyone, please follow these basic gym rules:
                </p>
              </div>
              <div>
                <h1 class="text-white text-4xl italic yellowText pb-8"> Respect the Equipment</h1>
                <ul class="list-disc pl-10">
                    <li class="text-white"><p>Always return weights and equipment to their proper place.</p></li>
                    <li class="text-white"><p>Avoid dropping weights unnecessarily—our floors are tough, but not invincible.</p></li>
                </ul>
              </div>
              <div>
                <h1 class="text-white text-4xl italic yellowText pb-8"> Clean Up After Yourself</h1>
                <ul class="list-disc pl-10">
                    <li class="text-white"><p>Wipe down machines and benches after use.</p></li>
                    <li class="text-white"><p>Bring a towel and use it during workouts to keep the space fresh for everyone.</p></li>
                </ul>
              </div>
              <div>
                <h1 class="text-white text-4xl italic yellowText pb-8">Share the Space</h1>
                <ul class="list-disc pl-10">
                    <li class="text-white"><p>Don’t hog machines or equipment—let others work in between sets.</p></li>
                    <li class="text-white"><p>Be mindful during peak hours; we’re all here to improve!</p></li>
                </ul>
              </div>
              <div>
                <h1 class="text-white text-4xl italic yellowText pb-8"> Stay Safe, Lift Smart</h1>
                <ul class="list-disc pl-10">
                    <li class="text-white"><p>Use proper form and ask for a spotter when lifting heavy.</p></li>
                    <li class="text-white"><p>Don’t attempt lifts or exercises beyond your ability—leave the superhero stuff to Arman.</p></li>
                </ul>
              </div>
             
            </div>
	</main>
</Layout>
