---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Arma Gym">
  <main>
    <Hero
      callToAction="Be a Beast"
      buttonText="Start journey"
      companyName="Arma Gym"
    />
    <section class="py-12">
      <div class="flex flex-col justify-center gap-16 max-w-6xl px-5 mx-auto">
        <div>
          <h1 class="text-white text-5xl italic yellowText pb-8">
            Basic Gym Rules
          </h1>
          <p class="text-white">
            Starting your fitness journey is both exciting and rewarding. To ensure a positive experience for yourself and others it's essential to follow basic gym etiquette. Here are some fundamental rules to keep in mind
          </p>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Bring a Towel
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>Always carry a clean towel to place on benches or machines during use.</p>
            </li>
            <li class="text-white">
              <p>After exercising wipe down the equipment to remove sweat maintaining hygiene and comfort for the next user. Usually you can find disinfection tool somewhere near ,but if your gym dont have that then its absolutely fine.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Re-Rack Weights and Return Equipment
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>After using dumbbells, barbells or other equipment, return them to their designated places. This practice keeps the gym organized and prevents potential hazards. </p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Share Equipment and Allow Others to "Work In"
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>During peak hours be mindful of others waiting to use the same equipment. If you're taking extended breaks between sets offer to let others work in with you.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Limit Phone Use
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p> Avoid occupying equipment while texting or browsing. Focus on your workout to ensure efficiency and respect for others waiting.But it is totally fine to use your phone to track your exercises.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Use Headphones for Personal Music
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>If you prefer your own music use headphones to avoid disturbing others. Keep the volume at a level where you can still be aware of your surroundings.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Maintain Personal Hygiene
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>Wear clean workout attire and use deodorant to ensure a pleasant environment for everyone.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Be Mindful of Space
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>Give others adequate space during their workouts, especially in free weight areas, to ensure safety and comfort.</p>
            </li>
          </ul>
        </div>
        
        <div>
          <h1 class="text-white text-4xl italic yellowText pb-8">
            Follow Gym-Specific Rules
          </h1>
          <ul class="list-disc pl-10">
            <li class="text-white">
              <p>Each gym may have its own set of guidelines. Familiarize yourself with them to ensure compliance and respect for the facility and its members.</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
  </main>
</Layout>
