---
interface Props {
  text: string;
  imageURL: string;
  url: string;
}
const { text = "", imageURL = "", url = "" } = Astro.props;
const imageStyle = {
  backgroundImage: `url(/images/${imageURL})`,
};
---

<a href={url}>
  <div
    class="py-48 bg-cover m-8 bg-gray-700 bg-blend-multiply hover:border hover:border-[#f9ef23]"
    style={imageStyle}
  >
    <h2 class="text-white uppercase text-4xl italic px-3">{text}</h2>
  </div>
</a>
