---
import ImageCard from "./ImageCard.astro";
const offers = [
    {
        imageURL:"dumbbells.jpg",
        offerText:"Basic rules at the Gym",
        url: "/rules"
    },
    {
        imageURL:"rowing.jpg",
        offerText:"BodyBuilding",
        url: "/bodybuild"
    },
    {
        imageURL:"skipping.jpg",
        offerText:"Bulking & Cutting",
        url: "/bulk"

    }
]
---


<section class="py-12 text-center ">
<h1 class="yellowText text-5xl italic uppercase px-3">Your ultimate guide</h1>
<p class="text-white px-3">Everything you need to crush your fitness goals—from expert tips to powerful workouts, all in one place.</p>
<div class="grid grid-cols-1 md:grid-cols-3">
{
    offers.map((offer)=>(
        <ImageCard imageURL={offer.imageURL} text={offer.offerText} url={offer.url}/>
    ))
}

</div>
</section>