---
const testimonials = [
  {
    profileURL: "obama.webp",
    author: "Barack Obama",
    age: 63,
    quote:
      "I thought I was in decent shape, but Arma Gym and that young guy Arman took me to a whole new level. Now I’m lifting policies and weights!",
  },
  {
    profileURL: "stallone.jpg",
    author: "Sylvester Stallone",
    age: 78,
    quote:
      "I’ve been in the ring plenty of times, but Arma Gym? That’s where the real training happens. Big thanks to Arman for pushing me harder than Rocky ever did!",
  },
  {
    profileURL: "rdjr.jpg",
    author: "RDJ",
    age: 59,
    quote:
      "I might be Iron Man on screen, but Arma Gym made me feel like Iron Man in real life. Shoutout to Arman for being the genius behind the gains!",
  },
];
---
<section class="py-12">
  <h1 class="yellowText text-5xl italic uppercase text-center">Before and After</h1>
  <div class="grid grid-cols-1 md:grid-cols-3">
    {
      testimonials.map((profile)=>(
        <div class="m-4">
          <img src={'/images/'+profile.profileURL} alt="Testimonial" class="object-cover object-top w-full h-48"/>
          <div class="yellowBG p-8">
            <p class="pb-4 font-bold">
              {profile.quote}
              </p>
              <small>{profile.author},{profile.age}</small>
            </div>
          </div>

      ))
    }
  </div>
</section>